<h1>
	Welcome <%= @person.name%>, you have taken your first step towards your Purrrrfect match...Congratulations!
</h1>

<h2>
	Now, we know you are <%= @person.age%> years old. But we want to know more!
</h2>

<%= link_to 'Purrrrsonal Hobbies', person_hobbies_path(@person) %>


<%= link_to 'EDIT', edit_person_path(@person) %>
<%= link_to 'DELETE', person_path(@person), method: :delete, data: {confirm: 'Really delete?'} %>
<%= link_to 'ALL LESBIANS', people_path %>

