<h1>
	Welcome <%= @person.name %>!
</h1> 

<% if @person.hobbies.any? || @person.locations.any? %>
	<%= link_to 'Personal Hobbies', person_hobbies_path(@person) %>
<br/>

<%= link_to 'Personal Location', person_locations_path(@person) %>
<br/>

<% else %>
	<h2>
		Congratulations on taking your first step towards your Purrrrfect match...
	</h2>

	<h2>
	  We know you are <%= @person.age%> years old. But, please tell us more by finishing your profile here!
	</h2>

	<%= link_to 'Personal Hobbies', person_hobbies_path(@person) %>
	<br/>

	<%= link_to 'Personal Location', person_locations_path(@person) %>
	<br/>
<% end %>




<%= link_to 'EDIT', edit_person_path(@person) %>
<br/>

<%= link_to 'DELETE', person_path(@person), method: :delete, data: {confirm: 'Sure you wanna delete?'} %>
<br/>

<%= link_to 'Back to Main Menu', people_path %>

