<% if @hobbies.any? %>
  <ul>
    <% @hobbies.each do |hobby| %>
      <li>
        <%= hobby.music %>
        <%= hobby.tv %>
        <%= hobby.activities %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No hobbies, please add one!</h3>
<% end %>

<hr />


<%= link_to 'New Hobbies', new_person_hobby_path(@person) %>
<%= link_to 'Back', person_path(@person) %>