<h1>Your Location,<%= @person.name %>:</h1>

<hr />

<% if @locations.any? %>
  <ul>
    <% @locations.each do |location| %>
      <li>
        <%= location.city %>
        <%= location.state %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No location, please add one!</h3>
<% end %>

<hr />


<%= link_to 'New Location', new_person_location_path(@person) %>
<%= link_to 'Edit', edit_person_location_path(@person, @location) %>
<%= link_to 'Back', person_path(@person) %>