<h1>Your Location,<%= @person.name %>:</h1>

<hr />

<% if @location %>
  
        <%= @location.city %>
        <%= @location.state %>
<% else %>
  <h3>No location, please add one!</h3>
<% end %>

<hr />


<%= link_to 'New Location', new_person_location_path(@person) %>

<%= link_to 'Back', person_path(@person) %>